.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 600px) {
.App{
  display: flex;
}
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
}
